WpfClient/Connected Services/JewGymService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Exercise">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Difficulty" type="xs:int" />
          <xs:element minOccurs="0" name="ExerciseName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExerciseUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsCompound" type="xs:boolean" />
          <xs:element minOccurs="0" name="TargetMuscle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Exercise" nillable="true" type="tns:Exercise" />
  <xs:complexType name="BaseEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEntity" nillable="true" type="tns:BaseEntity" />
  <xs:complexType name="ExerciseList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Exercise" nillable="true" type="tns:Exercise" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExerciseList" nillable="true" type="tns:ExerciseList" />
  <xs:complexType name="ExerciseInWorkOut">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Exercise" nillable="true" type="tns:Exercise" />
          <xs:element minOccurs="0" name="Reps" type="xs:int" />
          <xs:element minOccurs="0" name="Sets" type="xs:int" />
          <xs:element minOccurs="0" name="Workout" nillable="true" type="tns:Workout" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExerciseInWorkOut" nillable="true" type="tns:ExerciseInWorkOut" />
  <xs:complexType name="Workout">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Duration" type="xs:int" />
          <xs:element minOccurs="0" name="ExInWorkout" nillable="true" type="tns:ExerciseInWorkOutList" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Workout" nillable="true" type="tns:Workout" />
  <xs:complexType name="ExerciseInWorkOutList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExerciseInWorkOut" nillable="true" type="tns:ExerciseInWorkOut" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExerciseInWorkOutList" nillable="true" type="tns:ExerciseInWorkOutList" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="BirthDay" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Gender" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsManager" type="xs:boolean" />
          <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="WorkoutList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Workout" nillable="true" type="tns:Workout" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkoutList" nillable="true" type="tns:WorkoutList" />
  <xs:complexType name="UserList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserList" nillable="true" type="tns:UserList" />
</xs:schema>